<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Shopping List App</title>
        <link rel="stylesheet" href="css/style.css">
        <script type="text/javascript" src="js/vue.js"></script>
    </head>
    <body>
        <div id="shopping-list">
            <div class="header">
                <h1>{{ header.toLocaleUpperCase() }}</h1>
                <button v-if="state === 'default'" class="btn btn-primary" @click="changeState('edit')">Add Item </button>
                <button v-else class="btn btn-cancel" @click="changeState('default')">Cancel</button>
            </div>    
            <div v-if="state === 'edit'" class="add-item-form">
                <input v-model="newItem" type="text" placeholder="Add an item" @keyup.enter="saveItem">
                <button class="btn btn-primary" v-bind:disabled="newItem.length === 0" @click="saveItem">Save Item</button>
            </div>
          <!--  <a v-bind:href="newItem" target="_blank">Dynamic Link</a> -->
             <ul>
                <li v-for="item in items" :class="{strikeout: item.purchased}" @click="tooglePurchased(item)">{{ item.label }}</li>
            </ul>
        <p v-if="items.length === 0">Nice job! You've bought all your items.</p>
        </div>
        <script>
            var shoppingList = new Vue({
                el: '#shopping-list',
                data: {
                    state: 'default',
                    header: 'shopping list app',
                    newItem: '',
                    items: [
                        {
                            label: '10 party hats',
                            purchased: false,
                            highPriority: false,
                        },
                        {
                            label: '2 board games',
                            purchased: true,
                            highPriority: false,
                        },
                        {
                            label: '20 cups',
                            purchased: false,
                            highPriority: false,
                        },
                    ]
                 },
                methods: {
                    saveItem: function() {
                        this.items.push({
                        label: this.newItem,
                        purchased: false,
                        });
                    },
                    changeState: function(newState){
                        this.state = newState;
                        this.newItem = '';
                    },
                    tooglePurchased: function(item){
                        item.purchased = !item.purchased;
                    }
                }
            })
        </script>
    </body>
</html>